<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899340609853-hkddhej7lcmeec9um6t8ian0ps9lkc9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899340609853-hkddhej7lcmeec9um6t8ian0ps9lkc9b</string>
	<key>API_KEY</key>
	<string>AIzaSyBWJRiea-EUuShtK49Duj01jeLr4pVbbk4</string>
	<key>GCM_SENDER_ID</key>
	<string>899340609853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vironit.Nesterovich.Ermolenko</string>
	<key>PROJECT_ID</key>
	<string>karmus-a2343</string>
	<key>STORAGE_BUCKET</key>
	<string>karmus-a2343.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899340609853:ios:68c74c408a37cfa327fd54</string>
</dict>
</plist>